@import '~antd/dist/antd.css';

::-webkit-scrollbar-track {
   /* border-radius: 0px; */
   box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
   -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	  -moz-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

* {
  scrollbar-width: thin;
  /* scrollbar-color: darkgrey #F5F5F5; */
}

@media screen and (min-width: 966px) {
  ::-webkit-scrollbar, .scroller {
    width: 8px;
    height: 8px;
    background-color: #f1f1f1;
  }
}
 
::-webkit-scrollbar-thumb {
    /* border-radius: 0px;
    box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
    -moz-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);  */
   background-color: #888;
   border-radius: 10px;
}

.z-shadow, .z-card {
    box-shadow: 0 0.46875rem 2.1875rem rgba(90,97,105,.1), 0 0.9375rem 1.40625rem rgba(90,97,105,.1), 0 0.25rem 0.53125rem rgba(90,97,105,.12), 0 0.125rem 0.1875rem rgba(90,97,105,.1);
}